body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin-top: 20px;
}

#map {
    height: 600px;
    width: 80%;
    margin: 20px 0;
}

.search-section {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

    .search-section select,
    .search-section button {
        background: radial-gradient(788px at 0.7% 3.4%, rgb(164, 231, 192) 0%, rgb(255, 255, 255) 90%);
        border: none;
        color: white;
        padding: 10px 20px; /* Adjusted padding for a minimized look */
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px; /* Smaller font size for minimized button */
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 20px; /* Curved edges */
        animation: blink 1s infinite; /* Apply blinking animation */
        transition: background-color 0.3s ease;
    }

@keyframes blink {
    0%, 100% {
        background-color: limegreen; /* Original color */
    }

    50% {
        background-color: #4caf50; /* Slightly darker green */
    }
}

.search-section button {
    background-color: #3e8e41; /* Darker green on hover */
}

.search-results {
    width: 80%;
    background-color: #f9f9f9;
    padding: 10px;
    border: 1px solid #ddd;
}

.search-results h2 {
    margin-top: 0;
}

#results-list {
    list-style-type: none;
    padding: 0;
}

.highlight-marker {
    color: red; /* Color for highlighted markers */
}
